@use "variables" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 20.83vw;
  max-width: 300px;
  background: #fff;
  z-index: 2000;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  background: #fdfafa;
  height: 100vh !important;
  max-height: 100vh !important;
  overflow-y: auto !important;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }
  &.is-open {
    transform: translateX(0);
  }
  @media (max-width: 1023px) {
    width: 240px;
  }
  &__content {
    height: auto;
    overflow: visible;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 0 32px 32px;
    overflow: visible;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
      border-radius: 4px;
    }
  }

  &__close {
    display: none;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      background: none;
      border: none;
      font-size: 24px;
    }
  }

  &__caption {
    font-size: 14px;
    line-height: 143%;
    color: $main-color;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  &__item {
    a {
      display: block;
      padding: 12px 0;
      font-weight: 500;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
      font-size: 14px;
      transition: 0.3s linear;

      &:hover {
        color: #4b99f5;
      }
      @media (max-width: 767px) {
        font-size: 12px;
        padding: 8px 0;
      }
    }
  }
  &__logo {
    @include flex-center;
    gap: 5px;
    padding: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  &__list {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    @media (max-width: 767px) {
      padding-bottom: 24px;
    }
  }
}

.ui-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main-color !important;
    transition: 0.4s;
    border-radius: 12px;
    border: 2px solid transparent;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
  input:checked + .ui-switch__slider {
    background-color: $color-white !important;
    border: 2px solid $main-color;
  }

  input:checked + .ui-switch__slider::before {
    background-color: $main-color !important;
    transform: translateX(14px);
  }
}

.lang-selector {
  display: flex;
  gap: 10px;

  &__btn {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    cursor: pointer;
    padding: 0;
    transition: 0.3s;

    &.active {
      color: $main-color;
    }
  }
}
.sidebar-lang {
  font-weight: $fw-medium;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  &.active {
    color: $main-color;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
